<div class="container">
  <div class="row">
    <div class="col-12 header">
      <h1 class="text-center">Game of life</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 button-row">
      <div class="button-wrapper">
        <button (click)="gof.clear(gof.panel, true)"><i class="material-icons">restore</i></button>
        <span>Clear panel</span>
      </div>
      <div class="button-wrapper">
        <button (click)="edit()" [ngClass]="{'active': editMode}"><i class="material-icons">edit</i></button>
        <span>Edit mode</span>
      </div>
      <div class="button-wrapper">
        <button (click)="play()" [ngClass]="{'active': playMode}"><i class="material-icons">play_arrow</i></button>
        <span>Play</span>
      </div>
      <div class="button-wrapper">
        <button (click)="gof.oneIteration()"><i class="material-icons">skip_next</i></button>
        <span>One step</span>
      </div>
      <div class="button-wrapper">
        <button (click)="stop()"><i class="material-icons">stop_circle</i></button>
        <span>Stop game</span>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="editMode">
    <div class="col-12">
      <p class="small text-center"><i>Edit mode active</i></p>
    </div>
  </div>
  <div class="row" *ngIf="errors">
    <div class="col-12">
      <p class="small text-center error">{{stringError}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="small text-center">Generación: {{gof.steps}} | Población: {{gof.population}}</p>

    </div>
  </div>
  <div class="row">
    <div class="col-12 gof-wrapper">
      <table *ngIf="gof">
        <tr *ngFor="let rows of gof.panel; let y = index">
          <td *ngFor="let cell of rows; let x = index"
          [ngClass]="{'alive': cell.status}"
          (click)="changeCellStatus(cell)"></td>
        </tr>
      </table>
    </div>
  </div>
</div>
