@import "variables";
/* You can add global styles to this file, and also import other style files */
html, body{
    height: 100%;
}


/*Buttons*/
.button-row{
    display: flex;
    justify-content: center;
}
.button-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $space-sm $space-md;
    span{
        margin-top: $space-xxs;
        font-size: $fs-min;
        margin-bottom: $space-xxs;
        opacity: 0;
        transition: $transition-default;
    }
    &:hover{
        span{
            opacity: 1;
        }
    }
    button{    
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background: none;
        cursor: pointer;
        display: inline-block;
        text-transform: uppercase;
        outline: none;
        position: relative;
        transition: $transition-default;
        border: 2px solid $color-white;
        border-radius: 0;
        line-height: 1;
        &:hover{
            border: 2px solid $color-black;
            border-radius: $border-radius;
        }
        &.active{
            background-color: $color-black;
            color: $color-white;
            border-radius: $border-radius;
        }
    }
}
.gof-wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: $space-md;
}

p{
    &.error{
        color: $color-error;
        font-size: $fs-small;
    }
}


// input range
.input-range-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;;

  label{
      font-size: $fs-small;
      margin-bottom: $space-sm;
  }
  span{
      margin-top: $space-xs;
      font-size: $fs-small;
  }
}
  
input[type='range'] {
  display: block;
  width: 250px;
}

input[type='range']:focus {
  outline: none;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  background-color: $color-grey-light;
  width: 20px;
  height: 20px;
  border: 2px solid $color-grey;
  border-radius: 50%;
  margin-top: -9px;
}

input[type=range]::-moz-range-thumb {
  background-color: $color-grey-light;
  width: 15px;
  height: 15px;
  border: 3px solid $color-grey;
  border-radius: 50%;
}

input[type=range]::-ms-thumb {
  background-color: $color-grey-light;
  width: 20px;
  height: 20px;
  border: 3px solid $color-grey;
  border-radius: 50%;
}

input[type=range]::-webkit-slider-runnable-track {
  background-color: $color-grey-light;
  height: 3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  outline: none;
}

input[type=range]::-moz-range-track {
  background-color: $color-grey-light;
  height: 3px;
}

input[type=range]::-ms-track {
  background-color: $color-grey-light;
  height: 3px;
}

input[type=range]::-ms-fill-lower {
  background-color: HotPink
}

input[type=range]::-ms-fill-upper {
  background-color: $color-black;
} 

// table
$cell-width: $cell-width;
$cell-height: $cell-width;
table{
    
    tr{
        td{
            width: $cell-width;
            height: $cell-height;
            border: 1px solid rgb(148, 148, 148);
            cursor: pointer;
            user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            &.alive{
                background-color: $color-black;
            }
        }
    }
}