/* You can add global styles to this file, and also import other style files */
html, body{
    height: 100%;
}

div{
    //border: 1px dashed red;
}

/*Buttons*/
.button-row{
    display: flex;
    justify-content: center;
}
.button-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 30px;
    span{
        margin-top: 4px;
        font-size: 8px;
        margin-bottom: 4px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }
    &:hover{
        span{
            opacity: 1;
        }
    }
    button{    
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background: none;
        cursor: pointer;
        display: inline-block;
        
        text-transform: uppercase;
        outline: none;
        position: relative;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        border: 2px solid white;
        border-radius: 0;
        line-height: 1;
        &:hover{
            
            border: 2px solid black;
            border-radius: 8px;
        }
        &.active{
            background-color: black;
            color: white;
            border-radius: 8px;
        }
    }
}
.gof-wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

// p 
p{
    &.error{
        color: red;
        font-size: 10px;
    }
}


// input range

.input-range-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;;

    label{
        font-size: 10px;
        margin-bottom: 16px;
    }
    span{
        margin-top: 8px;
        font-size: 10px;
    }
  }
  
  input[type='range'] {
    display: block;
    width: 250px;
  }
  
  input[type='range']:focus {
    outline: none;
  }
  
  input[type='range'],
  input[type='range']::-webkit-slider-runnable-track,
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type=range]::-webkit-slider-thumb {
    background-color: #777;
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 50%;
    margin-top: -9px;
  }
  
  input[type=range]::-moz-range-thumb {
    background-color: #777;
    width: 15px;
    height: 15px;
    border: 3px solid #333;
    border-radius: 50%;
  }
  
  input[type=range]::-ms-thumb {
    background-color: #777;
    width: 20px;
    height: 20px;
    border: 3px solid #333;
    border-radius: 50%;
  }
  
  input[type=range]::-webkit-slider-runnable-track {
    background-color: #777;
    height: 3px;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    outline: none;
  }
  
  input[type=range]::-moz-range-track {
    background-color: #777;
    height: 3px;
  }
  
  input[type=range]::-ms-track {
    background-color: #777;
    height: 3px;
  }
  
  input[type=range]::-ms-fill-lower {
    background-color: HotPink
  }
  
  input[type=range]::-ms-fill-upper {
    background-color: black;
  } 

// table
$cell-width: 8px;
$cell-height: 8px;
table{
    
    tr{
        td{
            width: $cell-width;
            height: $cell-height;
            border: 1px solid rgb(148, 148, 148);
            cursor: pointer;
            user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            &.alive{
                background-color: black;
            }
        }
    }
}

.draws{
    display: flex;
    justify-content: space-between;
    .draw-button{
        border: 2px solid black;
        border-radius: 8px;
        cursor: pointer;
        padding: 8px;
        font-size: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        transition: all 0.3s ease-in-out;
        &.active{
          background-color: #ecebeb;
        }
        .draw{
            .gof-wrapper{
              margin-bottom: 0;
            }
            width: 50px;
        }
        &:hover, &.active{
            box-shadow: 3px 4px 3px #949494;
        }
    }
}