// COLORS
$color-black: #000;
$color-white: #fff;
$color-error: #ff0000;
$color-grey-light: #777;
$color-grey: #333;
$color-soft-grey: #ececec;

// SPACES
$space-xxs: 4px;
$space-xs: 8px;
$space-sm: 16px;
$space-md: 32px;
$space-lg: 64px;
$space-xl: 128px;
$space-xxl: 256px;

// Font size
$fs-min: 8px;
$fs-small: 10px;
$fs-normal: 12px;

// default transition
$transition-default: all 0.3s ease-in-out;

// border radius
$border-radius: 8px;

// Cell
$cell-width: 8px;